html {
  overflow-y: scroll;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  position: relative;
  flex: 1 0 auto;
}

body > main > h1 {
  text-align: center;
}

figure {
  border-radius: 1rem;
  background-color: #fff;
  padding: 1rem;
}

.theme-transistion {
  transition: color var(--transition-speed);
  transition: background-color var(--transition-speed);
}

.site-home > main > div {
  display: flex;
  margin: auto;
  min-height: 150px;
  max-width: 150px;
  height: 100%;
  background-image: var(--avatar);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.site-404 main > .fa {
  background-color: var(--not-found-background-color);
  opacity: var(--not-found-background-opacity);
  position: relative;
  display: flex;
  margin: auto;
  min-height: 150px;
  max-width: 250px;
  height: 100%;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
}

.site-404 main > h1 {
  --font-size: 1.5rem;

  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.site-footer {
  flex-shrink: 0;
}

.social-nav a {
  cursor: pointer;
  display: block;
  margin: 1rem;
}

.site-nav {
  justify-content: center;
}

.site-nav a {
  font-size: calc(1 * var(--icon-size));
  user-select: none;
}

dialog article.email > a {
  cursor: pointer;
}

.article-grid > article > header > a {
  margin-top: auto;
  display: block;
}

.site-title a:hover {
  text-decoration: none;
}

.site-nav li.active a {
  color: var(--accent);
}

.site-nav span.fa {
  display: inline-block;
  margin-left: calc(0.5 * var(--icon-size));
}

.site-nav li.active span.fa {
  background-color: var(--accent);
}

.site-nav span {
  cursor: pointer;
}

.site-header,
.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-title {
  --color: var(--accent);
  --parent-color: var(--color);

  font-weight: 200;
  text-transform: lowercase;
}

.site-title::before {
  content: '{';
}

.site-title::after {
  content: '}';
}

.site-title span::after {
  color: var(--parent-color);
  margin-left: 1rem;
  content: '|';
}

.modal-close {
  cursor: pointer;
}

.article-grid {
  /* https://css-tricks.com/an-auto-filling-css-grid-with-max-columns/ */
  --grid-layout-gap: 1rem;
  --grid-column-count: 3;
  --grid-item-min-width: 250px;
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item-max-width:
    calc(
      (100% - var(--total-gap-width)) / var(--grid-column-count)
    );

  display: grid;
  grid-template-columns:
    repeat(
      auto-fill,
      minmax(max(var(--grid-item-min-width), var(--grid-item-max-width)), 1fr)
    );
  grid-gap: var(--grid-layout-gap);
}

.article-grid > article {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
}

.article-grid > article > header {
  --icon-size: 0.8rem;

  min-height: 13rem;
  display: flex;
  flex-direction: column;
}

.article-grid > article > footer {
  margin-top: auto;
}

dialog article.email {
  display: flex;
}

dialog article.email > p {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
}
