html {
  overflow-y: scroll;
}

* {
  transition: color var(--transition-speed);
  transition: background-color var(--transition-speed);
}

.main-nav {
  justify-content: center;
}

.main-nav a {
  cursor: pointer;
}

.main-nav span {
  display: inline-block;
  min-width: 1rem;
  min-height: 1rem;
  margin: 0 1rem;
  margin-bottom: -2px;
}

.site-header, .site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-title {
  --parent-color: var(--color);
  text-transform: lowercase;
}

.site-title::before {
  content: '{';
}

.site-title::after {
  content: '}';
}

.site-title span::after {
  color: var(--parent-color);
  margin-left: 1rem;
  content: '|';
}

.social-nav a {
  cursor: pointer;
  display: block;
  margin: 1rem;
  min-width: 2rem;
  min-height: 2rem;
}

.site-title a:hover {
  text-decoration: none;
}

.modal-close {
  cursor: pointer;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.projects > article {
  margin: 0;
}

.email-container {
  display: flex;
}

.email-container .fa {
  min-width: 1rem;
  min-height: 1rem;
}

.email-container .email {
  position: relative;
  bottom: 2px;
  margin: 0 1rem;
}
