:root {
  --transition-speed: 0.5s;
  --icon-size: 1.2rem;
  --avatar: url('{{ (resources.Get "img/avatar.webp" | resources.Fingerprint).RelPermalink }}');
  --accent: #ffaec9;
  --not-found-background-color: var(--primary);
  --not-found-background-opacity: 0.1;
  --block-spacing-vertical: 1rem;
}

[data-theme='light'],
:root:not([data-theme='dark']) {
  --primary: #00a2e8;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --primary: #00a2e8;
  }
}

[data-theme='dark'] {
  --primary: #00a2e8;
}
