{{ $dev := site.IsServer }}

{{ $asset := resources.Get "img/favicon.svg" }}
{{ if not $dev }}
  {{ $asset = resources.Fingerprint $asset }}
{{ end }}
<link rel="icon" type="image/svg+xml"
  {{ if not $dev }}integrity="{{ $asset.Data.Integrity }}"{{ end }}
  href="{{ $asset.RelPermalink }}">

{{ $asset := resources.Get "img/favicon.png" }}
{{ if not $dev }}
  {{ $asset = resources.Fingerprint $asset }}
{{ end }}
<link rel="icon" type="image/png"
  {{ if not $dev }}integrity="{{ $asset.Data.Integrity }}"{{ end }}
  href="{{ $asset.RelPermalink }}">

{{ range site.Params.remoteCss }}
  {{ partial "remote-asset.html" . }}
{{ end }}

{{ range site.Params.css}}
  {{ partial "local-asset.html" . }}
{{ end }}

{{ range site.Params.remoteJs }}
  {{ partial "remote-asset.html" . }}
{{ end }}

{{ range site.Params.js }}
  {{ partial "local-asset.html" . }}
{{ end }}
