{{ $dev := site.IsServer }}

{{ $asset := resources.Get . | resources.ExecuteAsTemplate (path.Base .) . }}
{{ if not $dev }}
  {{ $asset = resources.Fingerprint $asset }}
{{ end }}

{{ if strings.HasSuffix $asset.RelPermalink ".css" }}
  <link rel="stylesheet"
    {{ if not $dev }}integrity="{{ $asset.Data.Integrity }}"{{ end }}
    href="{{ $asset.RelPermalink }}">
{{ end }}

{{ if strings.HasSuffix $asset.RelPermalink ".js" }}
  <script
    type="module"
    src="{{ $asset.RelPermalink }}"
    {{ if not $dev }}integrity="{{ $asset.Data.Integrity }}"{{ end }}
    crossorigin="anonymous">
  </script>
{{ end }}
