{{ $production := not site.IsServer }}

{{ $url := . }}
{{ $asset := resources.GetRemote . }}

{{ if not $production }}
  {{ $u := replace $url ".min." "." }}
  {{ with resources.GetRemote $u }}
    {{ with .Err }}
    {{ else }}
      {{ $url = $u }}
      {{ $asset = . }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if $production }}
  {{ $asset = resources.Fingerprint $asset }}
{{ else }}
  {{ $content := $asset.Content |  }}
  {{ $target := path.Base $url }}
  {{ $asset = $asset.Content | resources.FromString $target }}
{{ end }}

{{ if strings.HasSuffix $asset.RelPermalink ".css" }}
  <link rel="stylesheet"
    {{ if $production }}integrity="{{ $asset.Data.Integrity }}"{{ end }}
    href="{{ $asset.RelPermalink }}">
{{ end }}

{{ if strings.HasSuffix $asset.RelPermalink ".js" }}
  <script
    defer
    src="{{ $asset.RelPermalink }}"
    {{ if $production }}integrity="{{ $asset.Data.Integrity }}"{{ end }}
    crossorigin="anonymous">
  </script>
{{ end }}

{{ if not $production }}
  {{ if strings.HasSuffix $asset.RelPermalink ".map" }}
    {{ $asset.Publish }}
  {{ end }}
{{ end }}
