<div class="article-grid">
{{ range site.Data.showcase.projects }}
  {{ $url := .url }}
  {{ if hasPrefix $url "/" }}
    {{ $url = $url | relURL }}
  {{ end }}
  <article>
    <header>
      <h4>{{ .title }}</h4>
      <a href="{{ $url }}">
        {{ $host := (urls.Parse $url).Host | default  (urls.Parse site.BaseURL).Host }}
        {{ $host }}
        <span alt="link"
          class="fa"
          data-icon="{{ site.Params.theme.extLinkIcon }}"></span>
      </a>
    </header>
    <p>{{ .description }}</p>
  </article>
{{ end }}
</div>
