{{ define "main" }}
{{ .Content }}
{{ range $.Site.Data.personal.links }}
  <p><a href="{{ .url }}">{{ .name }}</a></p>
{{ end }}
<a class="contrast" data-target="modal-email">@</a>

<section class="projects">
  {{ range $.Site.Data.showcase.projects }}
  <article>
    <header><h3><a href="{{ .url }}">{{ .title }}</a></h3></header>
    <p>{{ .description }}</p>
  </article>
  {{ end }}
</section>

<dialog id="modal-email">
  <article>
    <header>
      <a class="close"></a>
    </header>
    <p>{{ $.Site.Data.personal.email }}</p>
  </article>
</dialog>
{{ end }}
