{{ define "main" }}
{{ .Content }}

<section class="projects">
  {{ range $.Site.Data.showcase.projects }}
  {{ $url := .url }}
  {{ if hasPrefix $url "/" }}
    {{ $url = $url | relURL }}
  {{ end }}
  <article>
    <header><h3><a href="{{ $url }}">{{ .title }}</a></h3></header>
    <p>{{ .description }}</p>
  </article>
  {{ end }}
</section>

<dialog id="modal-email">
  <article>
    <header>
      <a class="close"></a>
    </header>
    <p>{{ $.Site.Data.personal.email.name }}</p>
  </article>
</dialog>
{{ end }}
